Load the South Sudan regions

In [1]:
import geopandas as gpd
import requests
from shapely.geometry import Point
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
counties_gdf = gpd.read_file('/Users/liliiaaliakberova/Desktop/Study/TUe_3_semester/Data_Challenge/JBG060-DC3-23-24-public-main/ss_county_boundaries.geojson')

In [3]:
counties_gdf.head

<bound method NDFrame.head of    ADMIN2NAME ADMIN2PCOD ADMIN2REFN ADMIN2ALTN ADMIN2AL_1         ADMIN1NAME
0      Morobo     SS9205     Morobo       None       None  Central Equatoria  \
1   Kajo-keji     SS9206  Kajo-keji       None       None  Central Equatoria
2      Lainya     SS9203     Lainya       None       None  Central Equatoria
3         Yei     SS9204        Yei       None       None  Central Equatoria
4        Juba     SS9202       Juba       None       None  Central Equatoria
..        ...        ...        ...        ...        ...                ...
74    Fashoda     SS7103    Fashoda       None       None         Upper Nile
75      Melut     SS7104      Melut       None       None         Upper Nile
76      Manyo     SS7102      Manyo       None       None         Upper Nile
77       Renk     SS7101       Renk       None       None         Upper Nile
78      Maban     SS7105      Maban       None       None         Upper Nile

   ADMIN1PCOD   ADMIN0NAME ADMIN0PCOD       DATE    VALIDON VALIDTO
0        SS92  South Sudan         SS 2008-12-01 2016-01-14    None  \
1        SS92  South Sudan         SS 2008-12-01 2016-01-14    None
2        SS92  South Sudan         SS 2008-12-01 2016-01-14    None
3        SS92  South Sudan         SS 2008-12-01 2016-01-14    None
4        SS92  South Sudan         SS 2008-12-01 2016-01-14    None
..        ...          ...        ...        ...        ...     ...
74       SS71  South Sudan         SS 2008-12-01 2016-01-14    None
75       SS71  South Sudan         SS 2008-12-01 2016-01-14    None
76       SS71  South Sudan         SS 2008-12-01 2016-01-14    None
77       SS71  South Sudan         SS 2008-12-01 2016-01-14    None
78       SS71  South Sudan         SS 2008-12-01 2016-01-14    None

    SHAPE_LENG  SHAPE_AREA    ADMIN_2 ADMIN2PC_1 ADMIN2RE_1
0     2.047768    0.106125     Morobo     SS3205     Morobo  \
1     1.961517    0.205068  Kajo-keji     SS3206  Kajo-keji
2     3.392752    0.284926     Lainya     SS3203     Lainya
3     4.110905    0.547453        Yei     SS3204        Yei
4     6.425265    1.497073       Juba     SS3202       Juba
..         ...         ...        ...        ...        ...
74    2.339419    0.296426    Fashoda     SS1103    Fashoda
75    3.506570    0.573070      Melut     SS1104      Melut
76    5.562564    0.552764      Manyo     SS1102      Manyo
77    5.330646    0.830239       Renk     SS1101       Renk
78    4.098004    0.974874      Maban     SS1105      Maban

              ADMIN_1                                           geometry
0   Central Equatoria  POLYGON ((30.55778 3.62875, 30.56061 3.63394, ...
1   Central Equatoria  POLYGON ((31.09764 3.97353, 31.21043 4.02022, ...
2   Central Equatoria  POLYGON ((30.46251 4.52642, 30.49221 4.57439, ...
3   Central Equatoria  POLYGON ((29.79663 4.37574, 29.79999 4.37909, ...
4   Central Equatoria  POLYGON ((32.10224 5.36788, 32.09834 5.21346, ...
..                ...                                                ...
74         Upper Nile  POLYGON ((32.28899 10.12369, 32.26860 10.07838...
75         Upper Nile  POLYGON ((32.95938 10.34594, 33.00270 10.16674...
76         Upper Nile  POLYGON ((32.46799 10.84873, 32.44986 10.84193...
77         Upper Nile  POLYGON ((33.36009 10.69385, 33.07974 10.60176...
78         Upper Nile  POLYGON ((32.95703 10.06026, 32.95739 10.06025...

[79 rows x 19 columns]>

In [4]:
counties_gdf.ADMIN2NAME.count

<bound method Series.count of 0        Morobo
1     Kajo-keji
2        Lainya
3           Yei
4          Juba
        ...
74      Fashoda
75        Melut
76        Manyo
77         Renk
78        Maban
Name: ADMIN2NAME, Length: 79, dtype: object>

In [5]:
print (counties_gdf.ADMIN2NAME, counties_gdf.ADMIN1NAME)

0        Morobo
1     Kajo-keji
2        Lainya
3           Yei
4          Juba
        ...
74      Fashoda
75        Melut
76        Manyo
77         Renk
78        Maban
Name: ADMIN2NAME, Length: 79, dtype: object 0     Central Equatoria
1     Central Equatoria
2     Central Equatoria
3     Central Equatoria
4     Central Equatoria
            ...
74           Upper Nile
75           Upper Nile
76           Upper Nile
77           Upper Nile
78           Upper Nile
Name: ADMIN1NAME, Length: 79, dtype: object

In [6]:
county_region_data = counties_gdf[['ADMIN2NAME', 'ADMIN1NAME', 'geometry']].copy()

county_region_data.columns = ['County_Name','Region_Name', 'Geometry']

In [7]:
county_region_data

,County_Name,Region_Name,Geometry
0,Morobo,Central Equatoria,"POLYGON ((30.55778 3.62875, 30.56061 3.63394, ..."
1,Kajo-keji,Central Equatoria,"POLYGON ((31.09764 3.97353, 31.21043 4.02022, ..."
2,Lainya,Central Equatoria,"POLYGON ((30.46251 4.52642, 30.49221 4.57439, ..."
3,Yei,Central Equatoria,"POLYGON ((29.79663 4.37574, 29.79999 4.37909, ..."
4,Juba,Central Equatoria,"POLYGON ((32.10224 5.36788, 32.09834 5.21346, ..."
...,...,...,...
74,Fashoda,Upper Nile,"POLYGON ((32.28899 10.12369, 32.26860 10.07838..."
75,Melut,Upper Nile,"POLYGON ((32.95938 10.34594, 33.00270 10.16674..."
76,Manyo,Upper Nile,"POLYGON ((32.46799 10.84873, 32.44986 10.84193..."
77,Renk,Upper Nile,"POLYGON ((33.36009 10.69385, 33.07974 10.60176..."
78,Maban,Upper Nile,"POLYGON ((32.95703 10.06026, 32.95739 10.06025..."

In [22]:
food_crises_df = pd.read_csv('/Users/liliiaaliakberova/Desktop/Study/TUe_3_semester/Data_Challenge/JBG060-DC3-23-24-public-main/data/food_crises_cleaned.csv')

# Create a GeoDataFrame for places
geometry = [Point(xy) for xy in zip(food_crises_df['centx'], food_crises_df['centy'])]
places_gdf = gpd.GeoDataFrame(food_crises_df, geometry=geometry)


# Perform a spatial join to find which regions intersect with each place
result = gpd.sjoin(places_gdf, counties_gdf, op='intersects')

# Display the result
print(result[['district', 'ADMIN2NAME', 'ADMIN1NAME']])
food_crises_with_counties_regions =  result[['country', 'district_code','district', 'centx', 'centy', 'ADMIN2NAME', 'ADMIN1NAME', 'year_month','year','month','ipc', 'ha','ndvi_mean','ndvi_anom','rain_mean','rain_anom','et_mean','et_anom','count_violence','sum_fatalities','food_price_idx','area','cropland_pct','pop','ruggedness_mean', 'pasture_pct','date']]

print(food_crises_with_counties_regions)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3318: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/1r/3fk_x7p96299qsbl_p0t7v6h0000gn/T/ipykernel_30157/3607736051.py:9: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  result = gpd.sjoin(places_gdf, counties_gdf, op='intersects')

      district ADMIN2NAME  ADMIN1NAME
0          Bor  Bor South     Jonglei
1          Bor  Bor South     Jonglei
2          Bor  Bor South     Jonglei
3          Bor  Bor South     Jonglei
4          Bor  Bor South     Jonglei
...        ...        ...         ...
12319  Malakal    Malakal  Upper Nile
12320  Malakal    Malakal  Upper Nile
12321  Malakal    Malakal  Upper Nile
12322  Malakal    Malakal  Upper Nile
12323  Malakal    Malakal  Upper Nile

[12166 rows x 3 columns]
           country  district_code district     centx     centy ADMIN2NAME
0      South Sudan             74      Bor  32.00486  6.465644  Bor South  \
1      South Sudan             74      Bor  32.00486  6.465644  Bor South
2      South Sudan             74      Bor  32.00486  6.465644  Bor South
3      South Sudan             74      Bor  32.00486  6.465644  Bor South
4      South Sudan             74      Bor  32.00486  6.465644  Bor South
...            ...            ...      ...       ...       ...        ...
12319  South Sudan            151  Malakal  31.64280  9.658457    Malakal
12320  South Sudan            151  Malakal  31.64280  9.658457    Malakal
12321  South Sudan            151  Malakal  31.64280  9.658457    Malakal
12322  South Sudan            151  Malakal  31.64280  9.658457    Malakal
12323  South Sudan            151  Malakal  31.64280  9.658457    Malakal

       ADMIN1NAME year_month  year  month  ...   et_anom  count_violence
0         Jonglei    2007_01  2007      1  ...  0.048880               0  \
1         Jonglei    2007_02  2007      2  ... -0.457928               0
2         Jonglei    2007_03  2007      3  ... -0.590175               0
3         Jonglei    2007_04  2007      4  ... -1.845536               0
4         Jonglei    2007_05  2007      5  ... -2.972735               0
...           ...        ...   ...    ...  ...       ...             ...
12319  Upper Nile    2019_10  2019     10  ...  6.053181               1
12320  Upper Nile    2019_11  2019     11  ...  8.745254               0
12321  Upper Nile    2019_12  2019     12  ...  1.698060               0
12322  Upper Nile    2020_01  2020      1  ...  1.046844               0
12323  Upper Nile    2020_02  2020      2  ...  0.441174               0

       sum_fatalities  food_price_idx        area  cropland_pct       pop
0                   0        0.561363  14008.3300      7.961984  239344.0  \
1                   0        0.565693  14008.3300      7.961984  239344.0
2                   0        0.592437  14008.3300      7.961984  239344.0
3                   0        0.605352  14008.3300      7.961984  239344.0
4                   0        0.618699  14008.3300      7.961984  239344.0
...               ...             ...         ...           ...       ...
12319               0       82.872570    757.7855     13.068690  102228.0
12320               0       87.728720    757.7855     13.068690  102228.0
12321               0       93.566750    757.7855     13.068690  102228.0
12322               0      106.793600    757.7855     13.068690  163171.3
12323               0      113.214100    757.7855     13.068690  163171.3

       ruggedness_mean  pasture_pct        date
0            11393.760      90.8503  2007-01-01
1            11393.760      90.8503  2007-02-01
2            11393.760      90.8503  2007-03-01
3            11393.760      90.8503  2007-04-01
4            11393.760      90.8503  2007-05-01
...                ...          ...         ...
12319         7145.909      85.5000  2019-10-01
12320         7145.909      85.5000  2019-11-01
12321         7145.909      85.5000  2019-12-01
12322         7145.909      85.5000  2020-01-01
12323         7145.909      85.5000  2020-02-01

[12166 rows x 27 columns]

In [23]:
food_crises_with_counties_regions.columns = ['country', 'district_code','district', 'centx', 'centy', 'county', 'region', 'year_month','year','month','ipc', 'ha','ndvi_mean','ndvi_anom','rain_mean','rain_anom','et_mean','et_anom','count_violence','sum_fatalities','food_price_idx','area','cropland_pct','pop','ruggedness_mean', 'pasture_pct','date']
output_csv_path = '/Users/liliiaaliakberova/Desktop/Study/TUe_3_semester/Data_Challenge/JBG060-DC3-23-24-public-main/data/food_crises_with_counties_regions.csv'
food_crises_with_counties_regions.to_csv(output_csv_path, index=False)